<div class="jumbotron">
  <h1 style="color: #1c1cca">Login de usuario</h1>
  <form id="loginForm">
    <div>
      <div class="form-group">
        <label for="nombre"><i style="font-weight:bold">Ingrese su nombre</i></label>
        <input id="nombre" class="form-control" type="text" name="nombre" required>
      </div>
    </div>
    <input type="submit" value="Enviar" class="btn btn-info mt-3">
  </form>
</div>
<script src="js/login.js"></script>