mixin my-include(form)
    if form
        a.change-page-btn.btn.btn-primary.btn-lg(href='/productos' tabindex='-1' role='button') Ir a lista de productos

    else
        a.change-page-btn.btn.btn-primary.btn-lg(href='/' tabindex='-1' role='button') Ir a carga de productos